# Dependencies
node_modules
.pnpm-store

# Next.js
.next/
out/

# Build artifacts
dist/
*.tsbuildinfo

# SQLite databases
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
data/*.sqlite
data/*.sqlite-journal
data/*.sqlite-wal
data/*.sqlite-shm

# Environment files
.env
.env.local
.env.production
.env.test

# Playwright & test reports
test-results/
playwright-report/

# OS and IDE files
.DS_Store
*.pem
.authority/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
